*{
    box-sizing: border-box;
}
.a{
   background-color: blueviolet;
}
h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 70px;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    
    
}
img{
    border-radius: 50%;
}
li{
    list-style: none;
    display: inline-flex;
    margin: 10px;
    padding:  5px 20px;
    border: 1px solid transparent;  
   
}
ul{
    float: right;


}
button{
    background-color: aqua;
      font-size: large;
    height: 50px;
    width: 120px;
  
    border-radius: 40%;
    
}



.c{
    width: 50%;
    height: 200px;
    float: left;
    margin-bottom: 20px;

}
.d{
    float: right;
    width: 50%;
    height: 200px;
    margin-bottom: 20px;
    
    
}
h2{
    margin-top: 60px;
    text-align: center;
    text-shadow: 2px 2px black;
    color: gold;
    
}
.e{
    margin-top: 350px;
    border-radius: 50%;

    background-color: blueviolet;
    height: 700px;
}

p{
    text-align: center;
    font-size: medium;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
    color: purple;
    margin-top:20px ;
    margin-bottom: 20px;
}

.f {
    text-align: center;
    background-color: orange;
    
    
}

.g{
    text-align: center;
    background-color: yellow;
    
}

.h{
    margin-top: 50px;
    width: 80%;
    height: 500px;
    box-shadow:  2px 2px 4px 2px black;
    float: left;
    margin-bottom: 50px;
    
}

.i{
    margin-top: 50px;
    width: 20%;
    box-shadow:2px 2px 4px 2px black;
    height: 500px;
    float: right;
    margin-bottom: 50px;

 
    
}

.p1 {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    
}

a{
    text-decoration: none;
    color: chocolate;
}

#img1 {
   margin: auto;
   display: block;
  margin-left: auto;
  margin-right: auto;
} 






