h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: darkorange;
}
.c1{
    background-color: blueviolet;
    width: 100%;
    height: fit-content;
}
button{
    background-color: aqua;
    font-size: large;
  height: 50px;
  width: 120px;
  border-radius: 40%;
}
li{
    
    list-style: none;
    display: inline-flex;
    margin: 10px;
    padding:  5px 20px;
    border: 1px solid transparent;  
    margin-left: 43%;
    margin-bottom: 10%;
}
.h{
    margin-top: 50px;
    width: 80%;
    height: 500px;
    box-shadow:  2px 2px 4px 2px black;
    float: left;
    margin-bottom: 50px;
    text-align: center;
}

.p1 {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    
}

img{
    margin-left: 40%;
}




